{% extends "index.htm" %}
{% block content%}
    <h1>courses</h1>
    <form action="{{url_for('courses')}}" method="POST">

        <label for="subject">Selectionez une matière</label>
        <select id="subject"  name="subject">
            <option value="fr">Français</option>
            <option value="ar">Arabe</option>
            <option value="hg">HG</option>
            <option value="ei">EI</option>
            <option value="mt">Maths</option>
            <option value="pc">PC</option>
            <option value="svt">SVT</option>
            <option value="ph">Philo</option>
            <option value="en">Eng</option>
          </select>
          <button type="submit">Search</button>

        
    </form>

    {%if courses != None:%}
        {%for cours in courses%}
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../static/school.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{cours[0]}}</h5>
              <p class="card-text">by: {{cours[1]}}</p>
              <a href="#" class="btn btn-primary">Downlowd</a>
            </div>
          </div>
        {%endfor%}
    {%endif%}
{%endblock%}