{% extends "index.htm" %}
{%block style%}
<link rel="stylesheet" href="../static/css/courses.css">
{%endblock%}
{% block content%}
<br><br><br><br>
<form action="{{url_for('courses')}}" method="POST" style="padding: 2em; text-align: center;">
  <h1>Cours</h1>

  <!--user chos the subject he wants-->

  <select class="custom-select" name="subject">
    <option selected>Choisissez une matière</option>
    <option value="fr">Français</option>
    <option value="ar">Arabe</option>
    <option value="hg">HG</option>
    <option value="ei">EI</option>
    <option value="mt">Maths</option>
    <option value="pc">PC</option>
    <option value="svt">SVT</option>
    <option value="ph">Philo</option>
    <option value="en">Eng</option>
  </select>
  <br> <br>

  {%if session['statue'] != 'student':%}
  <!--user chos the field he wants-->

  <select class="custom-select" name="field">
    <option selected>Choisissez une Branche</option>

    <optgroup label="1 BAC"></optgroup>
    <option value="1BSMF">1BSMF</option>
    <option value="1BSMA">1BSMA</option>
    <option value="1BSEX">1BSEX</option>
    <optgroup label="2 BAC"></optgroup>
    <option value="2BSMF">2BSMF</option>
    <option value="2BSMA">2BSMA</option>
    <option value="2BSEX">2BSEX</option>
    <option value="ALL">teacher</option>
  </select>
  <br> <br>
  {%endif%}

  <button type="submit">Search</button>


</form>

{%if courses != None:%}
<hr>
<div class="flex-container">
  {%for cours in courses%}
  <div class="card">
    <img class="card-img-top" src="../static/imgs/school.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{cours[0]}}</h5>
      <h6 class="card-text">by: {{cours[1]}}</h6>

      <a href="{{url_for('download', filename=cours[2])}}" class="btn btn-primary">Downlowd</a>
    </div>
  </div>
  {%endfor%}
</div>
{%endif%}

{%endblock%}