{% extends "index.htm" %}
{% block content%}
    <br><br><br><br>
{% if error: %}
<h2 style="color: red;">{{error}}</h2>
{%endif%}


    <h1>Login</h1>
    <form action="{{ url_for('login') }}" method="POST">

        <input type="text" id="email" name="email" ><br>
        <input type="password" id="pwd" name="pwd"><br>
        <button type="submit">Login</button>

    </form>
    
    <h1>Singup</h1>

    <form action="{{ url_for('singup') }}" method="POST">
        <input type="text" id="user_name" name="user_name"><br>
        <input type="email" id="email" name="email"><br>
        <input type="password" id="password" name="password"><br>

        <select id="statue" name="statue">
            <option value="student">student</option>
            <option value="teacher">teacher</option>
        </select>

        <select id="field"  name="field">
            <optgroup label="1 BAC" ></optgroup>
                <option value="1BSMF">1BSMF</option>
                <option value="1BSMA">1BSMA</option>
                <option value="1BSEX">1BSEX</option>
              <optgroup label="2 BAC" ></optgroup>
                <option value="2BSMF">2BSMF</option>
                <option value="2BSMA">2BSMA</option>
                <option value="2BSEX">2BSEX</option>
                <option value="ALL">ALL</option>

          </select><br>

        <button type="submit">Singup</button>
    </form>

{%endblock%}